/* common css */
/* ====================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,500&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,600;0,6..12,700;0,6..12,800;1,6..12,600;1,6..12,800;1,6..12,900&display=swap');

/* background: linear-gradient(90deg, rgba(203, 203, 216, 1) 0%, rgba(155, 237, 254, 1) 100%) !important;*/
/* font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif; */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

.btn:focus {
    outline: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*Header section */
.header {
    position: relative;
    height: 100vh;
    background: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
li{
    transition:all 0.5s;
}
.header-logo img {
    width: 150px;
}
.link__active {
    border-radius: 5px;
    transition:all 0.5s;
background: linear-gradient(45deg, rgb(71, 17, 17), #e3a9a987);
}
.link__active:hover{
    transition:all 0.5s;
    background: linear-gradient(45deg, #e3a9a987, rgb(71, 17, 17));
    box-shadow:inset 1px 0px 11px 1px #b79191;
}
.header-nav-bar ul li a {
    margin-right: 5px;
    transition: all 0.5s;
    font-size: 15px;
    position: relative;
}
.header-nav-bar ul li a:hover {
    transition: all 0.5s;
    color: rgb(201, 196, 196) !important;
    
} 

.header-nav-bar ul li a:last-child() {
    margin: 0;
}

.header-moto h1,
.header-moto h2,
.header-moto span {
    font-family: math;
    font-weight: bold;
}

.header-moto {
    position: absolute;
    bottom: 150px;
    line-height: 40px;
}

.header-moto h2 {
    position: relative;
    left: -100%;
    color: #dddddd !important;
    animation: anim1 2s forwards;
    font-weight: bold;
}

.header-moto h1,
.header-moto span {
    position: relative;
    left: -100%;
    opacity: 0;
    animation: anim2 2s forwards;
    animation-delay: 1s;
}

.testBtn {
    border-radius: 20px !important;
    transition: all 0.5s;
    position: relative;
    left: -100%;
    animation: anim3 2s forwards;
    animation-delay: 2s;
}

.testBtn:hover {
    transition: all 0.5s;
    background-color: transparent;
}

/* Profile */
.profile__header{
    position: relative;
    height: 100vh;
    background: url("../images/car3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@keyframes anim1 {
    from {
        left: -100%;
        opacity: 0.4;
    }

    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes anim2 {
    from {
        opacity: 0;
        left: -100%;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes anim3 {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

/* Media query */
@media screen and (max-width:750px) {
    .header-top {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

.user-options {
    position: absolute;
    top: 100%;
    background: #031e39;
    width: 25%;
    left: 47%;
    padding: 10px;
    display: flex;
    z-index: 10;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    display: none;
}

.user-details {
    width: 70%;
    border: 1px solid black;
    padding: 15px;
    border-radius: 15px;
    width: 85%;
    border-color: darkcyan;
    text-align: center;
}

.btn-group {
    margin-top: 20px;
}

/* Latest car section css */

.latest-car-head-right.col-5 img {
    width: 100%;
    transition: all 0.5s;
}

.latest-car-head-right.col-5 img:hover {
    transition: all 0.5s;
    transform: scale(1.1);
}

.latest-car-head-moto.mb-3 {
    border-left: 10px solid white;
    transition: all 0.5s;
}

.configur h1,
.configur i {
    font-size: 60px;
    margin-right: 15px;
    color: red;
}

/* Tech specs css  */
#specs {
    padding: 150px 0px;
    height: 100vh;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

#specs::before {
    background: linear-gradient(11deg, rgb(0 0 0), rgb(0 0 0 / 42%)), url(../images/car3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: "";
    transition: all 0.5s;
}

#specs:hover::before {
    transition: all 0.5s;

    transform: scale(1.1);
}

.specs-head {
    border-left: 5px solid white;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-container tr td:nth-child(2) {
    text-align: right;
}

/* most viewed css */
.mv__car__1 {
    width: 600px;
    height: 300px;
    transition:all 1s;
}

.mv__car__1 img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
}
.most-viewed-car-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    place-items: center;
}
.mv-details{
    width: 100%;
    transition:all 1s !important;
    position: absolute;
    transform: translate(-50%,-50%) scale(0);
    top: 50%;
    left: 50%;
    background: #000000a6;
    height: 100%;
}
.mv__car__1:hover .mv-details{
    transition:all  1s !important;
    transform: translate(-50%,-50%) scale(1);

}
/* car details seciton css */
#car-details .col-6 .qty::before {
    position: absolute;
    top: 15%;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    z-index: -1;
    opacity: 0.2;
}

#car-details .col-6 .qty:nth-child(1)::before {
    content: "KMPH";

}

#car-details .col-6 .qty:nth-child(2)::before {
    content: "GEAR";

}

#car-details .col-6 .qty:nth-child(3)::before {
    content: "HP";

}


/* featured_car */

article {
    width: 260px !important;
    position: relative;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    background: #e7d7d729;
    color: white;
    border-radius: 20px;
}

article img {
    width: 100%;
    height: 120px;
}

.swiper-slide img {
    object-fit: cover;
}

.popular-details {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

article h4 {
    margin: 10px 0px 10px 0px;
}

/* partner section csws */
.partner__img {
    flex-grow: 1;
    margin: 10px;
    opacity: 0.5;
    transition: all 0.5s;
}

.partner__img:hover {
    opacity: 1;
    transition: all .5s;
}

#partner .col-6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#partner img {
    width: 100%;
}

.partner__img.swiper-slide {
    width: 100px !important;
}

#partner h1,
#featured_car h1,
#most-viewed h1 {
    position: relative;
}

#partner h1::before,
#featured_car h1::before,
#most-viewed h1::before {
    position: absolute;
    content: "";
    height: 5px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 20%;
    border-radius: 10px;
    background: black;
    animation: anim 1s alternate infinite;
}

@keyframes anim {
    from {
        box-shadow: 0px 0px 0px 0px white;
        transition: all 0.5s;
    }

    to {
        box-shadow: 0px 0px 5px 1px white;
        transition: all 0.5s;
    }

}

/* offer section css */
#offer {
    color: white;
    padding: 50px 0px 50px 0px;
    background-image: url("../images/offer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

#offer .col-12 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#offer .col-7 img {
    width: 100%;
}

.offer__img {
    position: relative;
    right: -1000%;

    opacity: 1;
}

@keyframes offerAnim {
    from {
        transition: all 0.5s;
        right: -1000%;
        opacity: 0;
    }

    to {
        transition: all 0.5s;
        opacity: 0.8;
        right: 0;
    }
}

/* Footer section css */
section#footer .col-12 {
    display: flex;
    align-items: start;
}

.logo.mb-3 {
    width: 100px;
}

#footer a {
    padding-left: 0 !important;
}

.social__links a i {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.5s;
}

#footer a {
    color: white;
    transition: all 0.5s;
}

#footer a:hover {
    transition: all 0.5s;
    color: gray;
}

.social__links a i:hover {
    background-color: gray;
    color: black;
    transition: all 0.5s;
}

body {
    background-color: black;
    color: white;
}


/* Scroll top bttin css */
#scroll-top {
    width: 60px;
    height: 80px;
    cursor: pointer;
    position: fixed;
    left: 95%;
    z-index: 5;
    bottom: 10%;
    border-radius: 10px;
    visibility: hidden;
    transition: all 2s !important;
}

img.car-body {
    width: 150%;
    transform: rotate(90deg);
    margin-top: 25px;
}

img.car-wheel-1 {
    width: 27%;
    margin-left: 50%;
    margin-bottom: 20%;
}

img.car-wheel-2 {
    width: 27%;
    position: absolute;
    top: 11%;
    left: 51%;
}

@keyframes scrolling {
    from {
        bottom: 10%;
        transition: 1s;
    }

    to {
        bottom: 90%;
    }
}

@keyframes scrollTop {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.add-wheel-1-anim {
    animation: scrollTop 1s linear alternate infinite;
}

.add-scroll-top-anim {
    animation: scrolling 3s linear 1;
}

.headlight {
    width: 1px;
    position: absolute;
    height: 1px;
    left: 60%;
    top: 10%;
}

/* MOdel page */
.cars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    place-items: center;
    margin-bottom: 15px;
}

.cars .car_img {
    width: 300px;
    height: 250px;
}

.cars .car_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.model-header {
    /* background: white !important; */
}

video.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

video.bg-video {
    z-index: 0;
    object-fit: cover;
}

@media (min-aspect-ratio:16/9) {
    .background-clip {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip {
        width: auto;
        height: 100%;
    }
}

.model-text {
    z-index: 5;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    text-align: center;
    transition: all 1s;
}

.model-text h1 {
    font-size: 100px;
    transition: all 1s;
}

.model-text h3 {
    font-size: 40px;
}

.model-text {
    width: 100%;
}

.model-header h3,
.model-header h1 {
    background: linear-gradient(90deg, yellow 36%, white 30%, purple 71%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: all 1s;
}

.model-text h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    transition: all 1s;
    background: transparent !important;
}

nav.navbar {
    z-index: 6;
}

/* all car list section css starts  */
.col-5.car__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col-5.car__img {
    height: 400px;
}

.car__description table {
    line-height: 50px;
    font-size: 22px;
    font-family: math;
}

/* Innovation */
.images-group {
    width: 100%;
}

.images-group .image,
.single_image {
    width: 150px;
    height: 150px;
    margin: 5px;
}

.images-group .image img,
.single_image img {
    width: 100%;
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.selected__img {
    width: 800px;
    height: 400px;
}

.selected__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* single-specs */
.all__specifications {
    display: grid;
    grid-template-rows: 200px;
}

.all__specifications {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.specs__col {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60%;
}

.specs__col__head,
.specs__col__bottom {
    border-top: 3px solid darkgray;
    border-radius: 3px;
}

.all__specifications {
    grid-column-gap: 30px;
}

.col-3 h1 {
    font-size: xxx-large;
    font-weight: bold;
}
#inex .col-12 {
    height: 500px;
}

.interrior__selected__image,
.exterrior__selected__image {
    width: 500px;
    height: 250px;
}

.interrior__selected__image img,
.exterrior__selected__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#inex .col-12 {
    position: relative;
}

.inex__details {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

div#interrior {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
}

div#exterrior {
    visibility: hidden;
    transition: all 0.5s;
}

.show {
    visibility: visible;
    transition: all 0.5s;
}

.hide {
    visibility: hidden;
    transition: all 0.5s;
}

/* test drive */
.test__drive__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
}

.test-drive-image img {
    width: 100%;
    height: 100%;
    margin-left: -110%;
    transition: all 0.5s;
    animation: test-drive forwards 2s;
    opacity: 1;
}

@keyframes test-drive {
    from {
        margin-left: -110%;
        opacity: 0.5;
    }

    to {
        margin-left: 0;
    }
}

/* details specification */
#d_specs h1 {
    z-index: 1;
}

i {
    cursor: pointer;
}

i.fa.fa-minus.fs-1.position-absolute {
    top: 0;
    visibility: hidden;
    left: 0;
}

.specs__content__details {
    background: wheat;
    display: none;
    overflow: hidden;
    color: black;
    transition: all 0.5s;
}

/* News section css */
.news-header {
    background: linear-gradient(11deg, rgb(0 0 0), rgb(0 0 0 / 10%)), url(../images/car3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.news-header .position-absolute, .profile {
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    
}
.profile{
    position:absolute;
}
.news-thumbnail {
    width: 300px;
    height: 200px;
}

.news-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-content {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 300px;
    grid-gap: 15px;

    overflow: hidden;
}
.position-absolute h1 {
    font-size: 90px;
}

/* purchase section css */
.car-list.mb-5 {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 30px;
    grid-template-rows: 300px;
}

.car-list.mb-5 img,
.testd img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testd .car-image {
    width: 300px;
    height: 200px;
}

.testd {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 30px;
    grid-template-rows: 300px;
}

.testd img {
    object-fit: contain;
}

.pre-condition li.list-group-item.text-danger {
    font-size: 13px;
}
.testd_content{
display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 30px;
    grid-template-rows: 300px;
}
/* about us css */
.about-header {
    background-image: url('../images/about-us.png');
}

/* philosophy */
#philosophy article {
    width: auto !important;
    border-radius: 10px;
}

#philosophy .col-12 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
}

#philosophy .col-12 img {
    width: 100%;
    opacity: 0;
    animation: anim22 3s forwards 2.5s;
}

#philosophy tr td span {
    font-size: 22px;
}

#philosophy tr td {
    height: 0;
}

.philosophy-left {
    opacity: 0;
    animation: anim22 3s forwards 2s;
}

/* choice section css */
.w-100.choice_image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.w-100.choice_image img {
    width: 100%;
    opacity: 0;
    animation: anim22 3s forwards 4s;
}

.w-100.choice_image .img-2 img {
    width: 75%;
}

.img-2 {

    text-align: right;
}

/* inspired section css */
#inspired h1 {
    margin-left: -100%;
    opacity: 0;
    animation: anim11 3s forwards;
}

#inspired span {
    opacity: 0;
    animation: anim22 3s forwards 1.5s;
}

/* limitss section css */
#limit .limit_desc {
    opacity: 0;
    animation: anim22 3s forwards 3.5s;
}

#limit img {
    opacity: 0;
    animation: anim22 3s forwards 3s;
}

@keyframes anim11 {
    from {
        margin-left: -100%;
        opacity: 0.4;
    }

    to {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes anim22 {
    from {
        opacity: 0;
        left: -100%;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

/* fixed header */
.header .container-fluid {
    padding: 0;
}
.header-top{
    transition: all 2s !important;
}
.head__fix {
    background: black;
    padding: 5px;
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 -3px 20px 0px white;
}


/* drive form css */
#phone::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "+8801";
    background: #0000008c;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#phone input {
    padding-left: 60px;
}

section#test-drive-form {
    visibility: hidden;
    transition: all 1s;
    z-index: 1001;
    opacity: 0;
    position: fixed;
    background: #6b67678a;
    width: 100%;
    height: 100vh;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}
.drive-form-container.p-3 {
    background: #1b242d;
    border-radius: 10px;
    transition: all 1s;
}

.drive-form-container.p-3 {
    width: 30% !important;
    position: absolute;
    transform: translate(-50%, -50%);
    top: -100%;
    width: 100%;
    left: 50%;
}

/* Read more new  css */
.read-more-news-header {
    background: transparent;
    height: auto;
}

.read-more-news-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
}

.read-more-news-container img {
    width: 100%;
}

.news-content.text-dark {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 20px;
}

.link-muted {
    color: #aaa;
}

.link-muted:hover {
    color: #1266f1;
}

.position-absolute h1 {
    color: white;
    font-size: 75px;
    font-family: math;

    text-shadow: 2px 16px 11px black;
    animation: animate 2s ease-in infinite forwards;
}

@keyframes animate {
    0% {
        color: rgb(150, 134, 134);
    }

    50% {
        color: rgb(145, 140, 141);
    }

    100% {
        color: rgb(27, 25, 25);
    }
}

/* user carousel */
div#carouselExampleIndicators {
    margin-top: 50px;
    width: 50%;
}

section#user__section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.u__img{
    width: 100%;
    height:300px;
}
.u__img img{
    width:100%;
    height: 100%;
    object-fit: contain;
}

/* edit profile */
.view_car {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    place-items: center;
}

section#user_update {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: black;
}

.approve,.apply_date {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 5px;
}

.p-3.drive_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
#profile__text h1{
    opacity: 0;
    animation: profile__text 2s forwards;
}
#profile__text h5{
    opacity:0;
    animation: profile__h5 5s forwards 2s;
}
@keyframes profile__text {
    from {
        margin-left: -100%;
        opacity: 0.1;
    }

    to {
        opacity: 1;
        margin-left: 0%;
    }
}
@keyframes profile__h5 {
    from {
        bottom: 10%;
        opacity: 0.4;
    }

    to {
        opacity: 1;
        bottom:0
    }
}

/* Showroomm */
.showroom-content {
    width: 100%;
    position: relative;
    height: 500px;
}

.showroom-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.showroom-container.w-100 {
    width: 75% !important;
    display: grid;
    place-items: center;
}

.dashboard-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-showroom.p-3 {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}
a.mb-3 {width: 100%;}
.available-cars {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 10px;
}
.available-cars img {
    width: 100%;
}
.car_img {
    width: 100%;
    height: 150px;
}

.car_img img {
    height: 100%;
}

